body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: lightgray;
}

#canvas {
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    background: white;
}